<html>
  <head>
    <title>Pystaches Videos</title>
  </head>
  <body>
    See video on google video:

    {{# google_video}}
      553859542692229789
    {{/ google_video}}

    See video on youtube:

    {{# youtube}}
      AXII3mDfzaE
    {{/ youtube}}

    See video on vimeo:

    {{# vimeo}}
      5367093
    {{/ vimeo}}
  </body>
</html>
